<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        {{#menu}}<span class="icon-bar"></span>{{/menu}}
      </button>
      <a class="navbar-brand" href="?goto=home">{{pageName}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {{#menu}}
        <li class="{{className}}">
            <a href="{{href}}" title="{{{title}}}">{{{value}}}</a>
        </li>
        {{/menu}}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>